altair
beautifulsoup4
bs4
certifi
charset-normalizer
cycler
docxtpl
fire
fonttools
fsspec
idna
jupyterlab
kiwisolver
matplotlib
numpy
packaging
pandas
pandas_datareader
pandas-ods-reader
pandoc
Pillow
python-dateutil
pyparsing
pytz
regex
requests
scipy
yfinance
six
soupsieve
termcolor
urllib3
