altair
beautifulsoup4
bs4
certifi
charset-normalizer
cycler
docxtpl
fire
fonttools
fsspec
idna
jupyterlab
kiwisolver
matplotlib
numpy
packaging
pandas
pandas_datareader
pandas-ods-reader
pandoc
Pillow
plotly
python-dateutil
pyparsing
pytz
regex
requests
scipy
TA_Lib-0.4.24-cp310-cp310-win_amd64.whl
yfinance
six
soupsieve
termcolor
urllib3
